<!DOCTYPE html>
<html>
<head>
    <title>Create Employee Record</title>
</head>
<body>
<h2>Create Employee Record</h2>
<!-- create.ejs -->
<form action="/create" method="post">
    <div>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
    </div>
    <div>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required>
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required>
    </div>
    <div>
        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" name="mobile" required>
    </div>
    <div>
        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" required>
    </div>
    <button type="submit">Create Record</button>
</form>

</body>
</html>
