<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= fileName %></title>
    <link rel="stylesheet" href="/styles.css"> <!-- Include your CSS styles -->
</head>
<body>
<h1><%= fileName %></h1>
<pre><%= fileContent %></pre>
<a href="/">Back to File List</a>
</body>
</html>
